.venv/
model_versions/
runs/

yolo/

converter/

__pycache__

*.pt
*.pth
*.raw
*.json
*.jpg
*.png
*.csv
*.mp4
*.avi
*.txt
*.dll
data/processed/
data/training_output/
data/event_tensors/
data/output_clips/
runs/
output.log
data_preprocessing/build/
*.so
*.o
